<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.dao.AccountDao">
    <!--模糊查询客户循序-->
    <select parameterType="Map" id="findList" resultType="account">
        select * from account where 1 = 1
        <if test="name != null">and name like '%${name}%' </if>
        <if test="status != null">and status = #{status} </if>
        <if test="realName != null">and realName like '%${realName}%' </if>
        <if test="idCard != null">and idCard like '%${idCard}%' </if>
        <if test="mobile != null">and mobile like '%${mobile}%' </if>
        <if test="offset != null and pageSize != null">limit #{offset},#{pageSize} </if>
    </select>

    <!--查询当前分页下的总记录数-->
    <select parameterType="Map" id="getTotal" resultType="Integer">
        select count(*) from account where 1=1
        <if test="name != null">and name like '%${name}%' </if>
        <if test="status != null">and status = #{status} </if>
        <if test="realName != null">and realName like '%${realName}%' </if>
        <if test="idCard != null">and idCard like '%${idCard}%' </if>
        <if test="mobile != null">and mobile like '%${mobile}%' </if>
    </select>

    <!--查询所有客户信息-->
    <select id="findAll" resultType="Account">
        select * from account
    </select>

    <!--根据id查询客户信息-->
    <select id="findById" resultType="account" parameterType="Long">
        select * from account where id=#{id}
    </select>

    <!--根据客户姓名查询客户信息-->
    <select id="findByName" parameterType="String" resultType="account">
        select * from account where name=#{name}
    </select>

    <!--保存客户数据-->
    <insert id="add" parameterType="account" >
        insert into account(name,password,realName,idCard,mobile,address,status) values(#{name},#{password},#{realName},#{idCard},#{mobile},#{address},#{status})
    </insert>

    <!--修改客户信息-->
    <update id="update" parameterType="account" >
        update account set name = #{name},password = #{password},realName = #{realName},idCard = #{idCard},mobile = #{mobile},address = #{address},status = #{status} where id = #{id}
    </update>

    <!--删除客户信息-->
    <delete id="delete" parameterType="Long">
        delete  from account where id=#{id}
    </delete>
</mapper>