<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.dao.RoomTypeDao">
    <!--分页查询房间类型-->
    <select parameterType="Map" id="findList" resultType="roomType">
        select * from room_type where 1 = 1
        <if test="name != null"> and name like '%${name}%' </if>
        <if test="status != null"> and status = #{status} </if>
        <if test="offset != null and pageSize != null"> limit #{offset},#{pageSize}</if>
    </select>

    <!--查询当前分页总记录数-->
    <select parameterType="Map" id="getTotal" resultType="Integer">
        select count(*) from room_type where 1=1
        <if test="name != null"> and name like '%${name}%' </if>
        <if test="status != null"> and status = #{status}</if>
    </select>

    <!--查询所有房间类型-->
    <select id="findAll" resultType="roomType">
        select * from room_type
    </select>


    <!--根据id查询房间类型-->
    <select id="findById" resultType="roomType" parameterType="Long">
        select * from room_type where id=#{id}
    </select>

    <!--根据房间类型名查找-->
    <select id="findByName" parameterType="String" resultType="roomType">
        select * from where name=#{name}
    </select>

    <!--更新房间类型数量-->
    <update id="updateNum" parameterType="roomType">
        update room_type set avilableNum = #{avilableNum},bookNum = #{bookNum},livedNum = #{livedNum} where id = #{id}
    </update>

    <!--增加房间类型信息-->
    <insert id="add" parameterType="roomType" >
        into room_type(name,photo,price,liveNum,bedNum,roomNum,avilableNum,bookNum,livedNum,status,remark)
        values(#{name},#{photo},#{price},#{liveNum},#{bedNum},#{roomNum},#{avilableNum},#{bookNum},#{livedNum},#{status},#{remark})
    </insert>

    <!--修改房间类型信息-->
    <update id="update" parameterType="roomType">
        update room_type set name = #{name},photo = #{photo},price = #{price},liveNum = #{liveNum},bedNum = #{bedNum},
        roomNum = #{roomNum},avilableNum = #{avilableNum},status = #{status},remark = #{remark}
        where id = #{id}
    </update>

    <!--删除房间类型-->
    <delete id="delete" parameterType="Long">
        delete from room_type where id = ${id}
    </delete>
</mapper>